@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);
    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);
    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);
    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);
}

/* Basic style reset */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s, color 0.3s;
}

/* Utility classes */
.flex {
    display: flex;
}

.header {
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    color: var(--foreground);
    padding: 1em 2em;
    transition: background-color 0.3s, color 0.3s;
}

.logo-and-nav-link {
    align-items: center;
    gap: 2em;
}

.logo-and-nav-link h1 {
    font-size: clamp(1em, 3vw, 1.3em);
}

.nav-link a {
    background-color: var(--foreground);
    color: var(--background);
    padding: .5em 2em;
    border-radius: .2em;
    font-weight: bold;
    letter-spacing: 1.3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link a:hover {
    color: var(--foreground);
    background-color: var(--primary-foreground);
}

.social-links a {
    color: var(--primary);
    font-size: 1.4em;
    padding: .3em .5em;
    border-radius: .4em;
}

.social-links a:hover {
    background-color: rgba(255, 255, 255, 0.187);
    transition: background-color 0.3s;
}

.hero {
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-image: linear-gradient(to right, hsla(223, 84%, 5%, 0.46) 100%, transparent 100%), url('../maze.jpg');
    background-size: cover;
    background-position: center;
    color: var(--primary);
    text-align: center;
}

.hero h1 {
    font-size: clamp(1.5em, 3vw, 3em);
    margin-bottom: 0.5em;
}

.hero p {
    font-size: clamp(1em, 3vw, 1.5em);
    max-width: 600px;
    margin: 0 auto;
}

.customization {
    background-color: var(--background);
    padding: 2em 2em 4em 2em;
    text-align: center;
    color: var(--secondary-foreground);
}

.customization h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: var(--accent);
}

.customization-options {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 2em;
}

.customization-option {
    display: flex;
    gap: 2em;
    flex-direction: column;
    /* padding: 10em; */
    width: 17em;
    padding: 1em;
    background-color: var(--accent-foreground);
    color: var(--accent);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.customization-option .svg-inline--fa {
    font-size: 4em;
}

.customization-option span {
    font-weight: bold;
    font-size: 1.3em;
}

.customization-option:hover {
    background-color: hsla(210, 40%, 98%, 0.747);
    transform: scale(1.05);
    color: var(--primary);
}

.get-started {
    background-color: var(--primary);
    color: var(--primary-foreground);
    text-align: center;
    padding: 4em 2em;
}

.get-started h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.cta-button {
    font-size: 1.2em;
    padding: 1em 2em;
    background-color: var(--accent);
    color: var(--accent-foreground);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: var(--accent-foreground);
    color: var(--accent);
}

footer {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    text-align: center;
    padding: 2em;
    transition: background-color 0.3s, color 0.3s;
}